:host {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  height: 100%;
}

nav {
  position: sticky;
  top: 0;
}

main {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

::ng-deep main > router-outlet ~ * {
  display: flex;
  flex: 1;
  flex-flow: column;
  align-items: stretch;
}
